.film-list {
    display: flex;
    flex-wrap: wrap;
}

.film-item {
    padding: 5px;
    background-color: #199dc5;
    text-align: center;
    margin: 10px;
    flex-basis: 30%;
}

.item {
    margin: 3px 0;
    text-align: center;
}

.button {
    background-color: rgb(113, 224, 21);
    outline: 0;
} 

.spinner-load-click {
    position: absolute;
    bottom: 30%;
    left: 35%;
    margin: auto;
    box-sizing: border-box;
    background-clip: padding-box;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 4px solid rgba(255, 255, 255, 0.1);
    transform-origin: 50% 60%;
    transform: perspective(200px) rotateX(66deg);
    animation: spinner-wiggle 1.2s infinite;
    display: none;
}
.spinner-load-click:before,
.spinner-load-click:after {
    content: "";
    position: absolute;
    margin: -4px;
    box-sizing: inherit;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    opacity: .05;
    border: inherit;
    border-color: transparent;
    animation: spinner-spin 1.2s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, spinner-fade 1.2s linear infinite;
}
  
.spinner-load-click:before {
  border-top-color: #66e6ff;
}
  
.spinner-load-click:after {
    border-top-color: #f0db75;
    animation-delay: 0.3s;
}
  
@keyframes spinner-spin {
    100% {
      transform: rotate(360deg);
    }
}
@keyframes spinner-fade {
    20% {
      opacity: .1;
    }
    40% {
      opacity: 1;
    }
    60% {
      opacity: .1;
    }
}